@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Fugaz+One&display=swap");
:root {
  --biggest-font-size: 3.6rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;
}

/* Colors */
/* Common Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fbfefd;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.section {
  padding: 6.4rem 3.2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  margin-bottom: 2.4rem;
  color: #393939;
  font-size: var(--h1-font-size);
  font-weight: bold;
}

.section-subtitle {
  display: block;
  margin-bottom: 0.8rem;
  color: #069c54;
  font-weight: 500;
  font-size: var(--h3-font-size);
}

.bd-container {
  max-width: 96rem;
  width: calc(100% - 3.2rem);
  margin: 0 1.6rem 0;
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fbfefd;
}

.nav {
  max-width: 102.4rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 2.4rem 0 0.1rem;
    text-align: center;
    background-color: #fbfefd;
    -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1.6rem 1.6rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

/* Nav */
.nav__item {
  margin-bottom: 1.6rem;
}

.nav__link,
.nav__toggle {
  color: #707070;
  font-weight: 500;
}

.nav__toggle {
  z-index: 999;
}

.nav__logo {
  font-family: 'Fugaz One', cursive;
  color: #707070;
  font-size: 2rem;
  z-index: 999;
}

.nav__logo:hover {
  color: #069c54;
}

.nav__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: #069c54;
}

.nav__toggle {
  font-size: 2.1rem;
  cursor: pointer;
}

.show-menu {
  top: 5rem;
}

.active-link {
  color: #069c54;
}

.scroll-header {
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.scroll-top {
  position: fixed;
  right: 1.6rem;
  bottom: -20%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-radius: 0.6rem;
  background: rgba(6, 156, 84, 0.7);
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
}

.scroll-top:hover {
  background-color: #048654;
}

.scroll-top__icon {
  color: "Roboto", sans-serif;
  font-size: 3rem;
}

.scroll-top-show {
  bottom: 1.6rem;
  visibility: visible;
}

/* Home */
.home::before {
  display: block;
  content: '';
  margin-top: -10rem;
  height: 10rem;
  visibility: hidden;
  pointer-events: none;
}

.home__container {
  margin-top: 10rem;
  min-height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.home__title {
  color: #069c54;
  font-size: var(--biggest-font-size);
  margin-bottom: 2.5rem;
}

.home__subtitle {
  margin-bottom: 3.2rem;
  color: #393939;
  font-size: var(--h1-font-size);
}

.home__img {
  width: 30rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4));
}

.button {
  display: inline-block;
  background-color: #069c54;
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: var(--h3-font-size);
}

.button:hover {
  background-color: #048654;
}

/* About */
.about__text {
  text-align: center;
}

.about__description {
  margin-bottom: 2.4rem;
  font-size: var(--normal-font-size);
  text-align: left;
}

.about__img {
  width: 28rem;
  border-radius: 0.8rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 1rem 1rem 0.7rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 0.7rem rgba(0, 0, 0, 0.1);
}

/* Offers */
.offers__container {
  row-gap: 2.5rem;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.offer__content {
  text-align: center;
}

.offers__img {
  color: #069c54;
  margin-bottom: 1.6rem;
  font-size: 5rem;
}

.offers__title {
  font-size: var(--h3-font-size);
  color: #393939;
  margin-bottom: 0.8rem;
}

.offers__description {
  padding: 0 2.4rem;
}

/* Flavors */
.flavor__container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flavor__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(3, 74, 40, 0.15);
          box-shadow: 0 0.2rem 0.4rem rgba(3, 74, 40, 0.15);
}

.flavor__img {
  width: 20rem;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.6rem;
}

.flavor__name,
.flavor__price {
  font-weight: 600;
  color: #393939;
}

.flavor__name {
  font-size: var(--h3-font-size);
}

.flavor__detail,
.flavor__price {
  font-size: var(--small-font-size);
}

.flavor__detail {
  margin-bottom: 0.8rem;
}

.flavor__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.3rem;
  border-radius: 0.8rem 0 0.8rem 0;
}

/* Contact */
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: 2.4rem;
}

/* Footer */
.footer__container {
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  row-gap: 3.2rem;
}

.footer__logo {
  font-size: var(--h2-font-size);
  color: #069c54;
  font-weight: 600;
}

.footer__description {
  display: block;
  font-size: var(--normal-font-size);
  margin: 0.4rem 0 2.4rem;
}

.footer__social {
  font-size: 2.4rem;
  color: #393939;
  margin-right: 1.6rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__social:hover {
  color: #069c54;
}

.footer__title {
  font-size: var(--h2-font-size);
  color: #393939;
  margin-bottom: 1.6rem;
}

.footer__link {
  display: inline-block;
  color: #707070;
  margin-bottom: 0.8rem;
}

.footer__link:hover {
  color: #069c54;
}

.footer__copy {
  text-align: center;
  font-size: small;
  color: #a6a6a6;
  margin-top: 5.6rem;
}

/* Media Queries */
@media (max-width: 360px) {
  .flavor__button {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__text,
  .about__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }
  .about__img {
    width: 38rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about__text {
    text-align: left;
  }
  .contact__container {
    -ms-grid-columns: 1.75fr 1fr;
        grid-template-columns: 1.75fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 768px) {
  :root {
    --biggest-font-size: 6.4rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;
  }
  body {
    margin: 0;
  }
  .section {
    padding-top: 12.8rem;
  }
  .nav {
    height: 5.4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0 0 4rem;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
    justify-items: center;
  }
  .offers__container,
  .flavor__container {
    margin-top: 4.8rem;
  }
  .flavor__container {
    -ms-grid-columns: (21rem)[3];
        grid-template-columns: repeat(3, 21rem);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .flavor__content {
    padding: 2.4rem;
  }
  .flavor__item {
    width: 13rem;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin: 0 auto;
  }
  .home__img {
    width: 50rem;
  }
  .about__container {
    -webkit-column-gap: 11.2rem;
            column-gap: 11.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */